.courses {
    z-index: 2;

    @include laptop {
        &__list {
            margin-bottom: 30px;
        }
    }
}

.courses_homepage {
    .course-item {
        position: relative;
        min-height: 360px;
        height: calc(100% - 30px);
        padding: 35px 220px 20px 40px;
        background: #FFFFFF;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
        border-radius: 2px;
        margin-bottom: 30px;
        transition: box-shadow .3s ease;
        &:hover {
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        }

        &__toggle {
            display: none;
        }

        &__image {
            position: absolute;
            top: 0;
            right: 0;
            width: 220px;
            height: 220px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='208' height='204' fill='none'%3E%3Cpath opacity='.25' fill-rule='evenodd' d='M6.76 0H58.4c-5.625 13.33-8.734 27.978-8.734 43.354 0 61.632 49.962 111.594 111.595 111.594 16.693 0 32.53-3.665 46.75-10.235v52.14c-14.792 4.5-30.488 6.92-46.75 6.92C72.654 203.77.833 131.95.833 43.354.833 28.33 2.898 13.8 6.76 0z' fill='url(%23A)'/%3E%3Cdefs%3E%3ClinearGradient id='A' x1='69.164' y1='164.717' x2='281.993' y2='14.208' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230098d6'/%3E%3Cstop offset='.214' stop-color='%237e88c1'/%3E%3Cstop offset='.417' stop-color='%23aa6eaa'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
            background-position: top right;
            background-size: contain;
            background-repeat: no-repeat;
            transition: background .2s ease;
        }

        &__title {
            position: relative;
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            color: #000000;
            margin-bottom: 20px;
            transition: color .2s ease;
        }

        &__links {
            position: relative;
            margin-bottom: 20px;

            &-title {
                font-size: 15px;
                line-height: 18px;
                color: $gray;
                opacity: 0.8;
                margin-bottom: 5px;
            }
        }

        &__link,
        .det {
            color: $blue;
            transition: color .2s ease;
        }

        &__detailed {
            position: absolute;
            right: 40px;
            bottom: 45px;
            &::before {
                border-color: $blue;
            }
        }


        @media screen and (min-width: 992px) {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(30.5deg, #0098D6 22.11%, #7E88C1 58.12%, #AA6EAA 95.66%);
                border-radius: 2px;
                opacity: 0;
                transition: opacity .2s ease;
            }

            &:hover {
                &::before {
                    opacity: 1;
                }

                .course-item {
                    &__image {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='208' height='204' fill='none'%3E%3Cpath opacity='.25' fill-rule='evenodd' d='M6.76 0H58.4c-5.625 13.33-8.734 27.978-8.734 43.354 0 61.632 49.962 111.594 111.595 111.594 16.693 0 32.53-3.665 46.75-10.235v52.14c-14.792 4.5-30.488 6.92-46.75 6.92C72.654 203.77.833 131.95.833 43.354.833 28.33 2.898 13.8 6.76 0z' fill='%23fff'/%3E%3C/svg%3E");
                    }
        
                    &__title {
                        color: #ffffff;
                    }
                    
                    &__links .det,
                    &__link {
                        color: #E5E5E5;
                    }

                    &__link:hover {
                        color: #ffffff;
                    }

                    &__detailed {
                        color: #ffffff;
                        &::before {
                            border-color: #80D1F4;
                            background-color: transparent;
                        }
                    }
                }
            }
        }



        @include laptop {
            min-height: auto;
            height: auto;
            padding: 0;
            margin-bottom: 5px;

            &__content {
                display: none;
                padding-left: 50px;
                padding-right: 150px;
                padding-bottom: 30px;

                .showed & {
                    display: block;
                }
            }

            &__toggle {
                position: absolute;
                top: 20px;
                left: 15px;
                display: block;
                width: 24px;
                height: 24px;
                &::before,
                &::after {
                    content: '';
                    display: block;
                    width: 16px;
                    height: 2px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    background: $blue;
                    transform-origin: center;
                    transition: transform .16s ease;
                }
                &::after {
                    transform: rotate(90deg);
                }
                .showed &::after {
                    transform: rotate(90deg) scaleX(0);
                }
            }

            &__image {
                width: 64px;
                height: 64px;
                transition: all .16s ease;

                .showed & {
                    width: 140px;
                    height: 140px;
                }
            }

            &__title {
                padding: 20px 70px 20px 50px;
                font-size: 18px;
                line-height: 24px;
                font-weight: 400;
                margin-bottom: 0;
                cursor: pointer;
            }

            &__detailed {
                position: relative;
                top: 0;
                left: 0;
            }
        }

        @include phone {
            &__title {
                font-size: 18px;
            }

            .showed &__image {
                width: 64px;
                height: 64px;
            }

            &__content {
                padding-left: 20px;
                padding-right: 20px;
            }

            &__link {
                font-size: 16px;
                line-height: 125%;
            }
        }
    }
}